@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: "Starjhol";
  src: url("/Starjhol.ttf") format("truetype");
}


@font-face {
  font-family: "Poppins";
  src: url("/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas";
  src: url("/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Starjedi";
  src: url("/Starjedi.ttf") format("truetype");
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 10px; /* largura da barra */
}

::-webkit-scrollbar-track {
  background: #00cfff; /* fundo azul */
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* parte preta */
  border-radius: 10px;
  border: 2px solid #00cfff; /* borda combinando com o fundo */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333333; /* escurece ao passar o mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #00cfff; /* thumb preto, fundo azul */
}
